.App {
  text-align: center;

  position: fixed;

  overflow: hidden;
}

.app-body-container {
  margin: 0;
  height: 100%;

  overflow: scroll;

  margin: 0 auto;
  padding: 3em;
}

.saber-display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: wrap;
  opacity: 1;

  position: relative;
  margin: 0;
  height: 10vw;

  overflow: scroll;

  margin: 0 auto;
  padding: 3em;
}
h1 {
  font-size: 1.5em;
  perspective: 800px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: top right;
  perspective-origin: top right;
}
p {
  font-size: 1.25em;
}
label {
  font-size: 1.5em;
}
