.App {
  text-align: center;
  /* background-color: rgb(56, 56, 56); */
  position: relative;
  opacity: 1;
  z-index: 1;
}

.saber-display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: wrap;
}
h1 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}
/* .emitter {
  margin-top: 3em;
}
.switch {
  margin-top: 6.35em;
}
.grip {
  margin-top: 6.9em;
} */
