body {
  margin: 0;

  font-family: starJedi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-content: center;
  opacity: 100%;
  color: rgb(255, 156, 7);
  text-shadow: 2px 2px #dac239;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.61);
  overflow: hidden;
  box-sizing: border-box;
}

/* code { */
/* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
/* font-family: starJedi;
  align-content: center;
  color: goldenrod;
  text-shadow: 2px 2px #ff0000;
} */

@font-face {
  font-family: starJedi;
  src: url("./star_jedi/starjedi/Starjedi.ttf");
}
html {
  background-color: black;
  /* background: radial-gradient(ellipse at bottom, #131e2b 0%, #000000 60%); */
  /* height
  : fill;
  background: radial-gradient(ellipse at bottom, #131e2b 0%, #000000 60%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1; */
}
