.NavbarItems {
  background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

  background-repeat: no-repeat;
  background-size: fill;
  /* background-image: url("michael-dziedzic-zqbTr1jwSxc-unsplash.jpg"); */
  border-bottom: 0.1vw solid rgb(226, 155, 0);
  border-radius: 1vw;
  /* background-size: 75%; */
  min-height: 8vw;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
  color: transparent;
}

/* .NavbarItems:hover {
  min-height: 300px;
} */

.navbar-logo {
  position: fixed;
  color: rgb(228, 156, 0);
  text-align: center;
  font-weight: 200;

  letter-spacing: 0.2vw;

  text-shadow: 2px 2px #1d1c00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
  /* top: 10px; */

  transition: all 2s ease-in-out;
}
/* .navbar-logo:hover {
  color: rgb(248, 187, 96);
  text-shadow: 10px 8px #879e4db0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  top: 6px;
  transition: all 2s ease-in-out;
} */

.nav-links {
  color: rgb(228, 156, 0);
  text-shadow: 2px 2px #1d1c00;
  text-decoration: none;
  padding: 0.5rem 1rem;
  overflow: hidden;
  max-width: 50%;
  text-shadow: 1.5px 1.5px #353424;
  -webkit-text-shadow-stroke-width: 0.5px;
  -webkit-text-shadow-stroke-color: black;
}

/* .nav-links:hover {
  color: rgb(104, 84, 54);
  max-width: 20%;
  border-radius: 30px;
  transition: all 5s ease-out;
  text-shadow: 4px 4px rgb(255, 185, 79);
  -webkit-text-shadow-stroke-width: 0.5px;
  -webkit-text-shadow-stroke-color: black;
} */

.fa-bars {
  color: rgb(228, 156, 0);
  text-shadow: 2px 2px #1d1c00;
  transition: all 2s ease-in-out;
  margin-right: 3%;
}

.fa-bars:hover {
  color: rgb(228, 156, 0);
  text-shadow: 10px 8px #cfae40b0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
  top: 6px;
  transition: all 5s ease-in-out;
}
.fa-bars:active {
  color: rgb(94, 0, 16);
  text-shadow: 2px 2px #1d1c00;
}

.fa-times {
  color: rgb(228, 156, 0);
  text-shadow: 2px 2px #1d1c00;
}
.fa-times:active {
  color: rgb(94, 0, 16);
  text-shadow: 2px 2px #1d1c00;
}

.fa-times:hover {
  color: rgb(248, 187, 96);
  text-shadow: 10px 8px #cfae40b0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
  top: 6px;
  transition: all 5s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

@media screen {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

    background-repeat: no-repeat;
    background-size: fill;
    /* background-image: url("michael-dziedzic-zqbTr1jwSxc-unsplash.jpg"); */
    border: 1px solid rgb(226, 155, 0);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 0px;
    min-height: 300px;
    position: fixed;
    top: 8vw;
    left: -25%;
    opacity: 1;
    transition: all 0.175s ease-in-out;
    /* visibility: hidden; */
    /* transform: rotate(90deg); */
  }

  .nav-menu.active {
    /* visibility: visible; */
    background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

    background-repeat: no-repeat;
    background-size: fill;
    /* background-image: url("michael-dziedzic-zqbTr1jwSxc-unsplash.jpg"); */
    border: 1px solid rgb(226, 155, 0);

    /* top: 180px; */

    border-radius: 30px;
    max-width: 10em;
    min-height: 300px;
    left: 0%;
    position: absolute;
    top: 8vw;
    /* opacity: 100%; */
    transition: all 0.5s ease-in-out;
    z-index: 1;
    /* transform: rotate(0deg); */
  }

  .nav-links {
    position: relative;
    text-align: left;
    padding: 2rem;
    max-width: 60%;
    display: table;
  }

  /* .nav-links:hover {
    background-color: rgba(56, 0, 9, 0.822);
    border-radius: 20;
    padding: 2rem;
    margin-left: 20px;
    transition: all 2s ease-in-out;
  } */

  .navbar-logo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, -31%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(60%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .username {
    word-wrap: nowrap;
    transform: translate(80%, 20%);
    text-transform: lowercase;
  }

  .logout {
    transform: translate(-915%, 120%);
  }
  .saber-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: wrap;
    opacity: 1;
    z-index: 1;
    position: relative;
  }
}
