.NavbarItems {
  background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

  background-repeat: no-repeat;
  background-size: fill;
  border-bottom: 0.1vw solid rgb(226, 155, 0);
  border-radius: 1vw;
  width: 100%;
  min-height: 8vw;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
  z-index: 3;
  position: fixed;
}

.navbar-logo {
  position: fixed;
  color: rgb(228, 156, 0);
  text-align: center;
  font-weight: 200;

  letter-spacing: 0.2vw;

  text-shadow: 2px 2px #1d1c00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;

  /* cursor: pointer; */
}

.blade-visible {
  animation: flicker_appaer 0.35s linear normal forwards;
  /* animation-delay: 1s; */
}

@keyframes flicker_appaer {
  0% {
    transform: translate(20%, 28%) scale(0, 0);
  }
  50% {
    transform: translate(20%, 28%) scale(0, 0.3);
  }

  100% {
    transform: translate(0%, 0%) scale(1, 1);
  }
}

.nav-links {
  font-size: 1.45vw;
  font-family: starJedi;
  text-transform: lowercase;
  text-align: center;
  height: 1.75vw;
  border-radius: 0.5vw;
  background-color: rgba(117, 56, 56), 0.25;
  color: transparent;
  text-shadow: 1px 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.12vw;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  max-width: 50%;
  text-shadow: 1.5px 1.5px #353424;

  -webkit-text-shadow-stroke-width: 0.5px;
  -webkit-text-shadow-stroke-color: black;
  border: 0.1vw solid transparent;
  z-index: 3;
  position: relative;
}
.nav-links:hover {
  background-color: rgb(46, 23, 23);
  color: rgb(228, 156, 0);
  text-shadow: 1px 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.5s ease-in-out;
  border: 0.1vw solid rgb(226, 155, 0);
  z-index: 3;
  position: relative;
}

.fa-bars {
  color: rgb(228, 156, 0);
  text-shadow: 2px 2px #1d1c00;
  transition: all 2s ease-in-out;
  margin-right: 3%;
}

.fa-bars:hover {
  color: rgb(228, 156, 0);
  text-shadow: 0.125vw 0.125vw #cfae40b0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;

  cursor: pointer;
  top: 6px;
  transition: all 1s ease-in-out;
}
.fa-bars:active {
  color: rgb(94, 0, 16);
  text-shadow: 2px 2px #1d1c00;
}

.fa-times {
  color: rgb(228, 156, 0);
  text-shadow: 2px 2px #1d1c00;
}
.fa-times:active {
  color: rgb(94, 0, 16);
  text-shadow: 2px 2px #1d1c00;
}

.fa-times:hover {
  color: rgb(248, 187, 96);
  text-shadow: 0.125vw 0.125vw #cfae40b0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;

  cursor: pointer;

  transition: all 1s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen {
  .NavbarItems {
    position: relative;
    z-index: 2;
  }

  .nav-menu {
    background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

    background-repeat: no-repeat;
    background-size: fill;

    border: 1px solid rgb(226, 155, 0);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 0px;
    min-height: 300px;
    position: fixed;
    top: 8vw;
    left: -25%;
    opacity: 1;
    transition: all 0.175s ease-in-out;
    z-index: 3;
  }

  .nav-menu.active {
    background: radial-gradient(transparent 10%, hsla(0, 35%, 34%, 0.521));

    background-repeat: no-repeat;
    background-size: fill;

    border: 1px solid rgb(226, 155, 0);

    border-radius: 30px;
    max-width: 14em;
    min-height: 14em;
    left: 0%;
    position: absolute;
    top: 8vw;

    transition: all 0.5s ease-in-out;
    z-index: 3;
  }

  .nav-links {
    position: relative;
    text-align: center;
    padding: 2rem;
    max-width: 70%;
    display: table;
    z-index: 4;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-0.25vw, -2vw);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1vw, 2vw);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .username {
    word-wrap: nowrap;
    transform: translate(80%, 20%);
    text-transform: lowercase;
  }

  .logout {
    position: fixed;
    font-size: 0.95vw;
    font-size: 1vw;
    font-family: starJedi;
    text-transform: lowercase;
    margin: 0.5vw;
    margin-bottom: 0.75vw;
    right: 1vw;
    height: 1.75vw;
    border-radius: 0.5vw;
    background-color: rgb(117, 56, 56);
    color: transparent;
    text-shadow: 1px 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.12vw;
    position: relative;
    padding-bottom: 1.7vw;
  }
  .logout:hover {
    background-color: rgb(46, 23, 23);
    color: rgb(228, 156, 0);
    text-shadow: 1px 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all 0.5s ease-in-out;
    position: relative;
    border-top: 0.1vw solid rgb(226, 155, 0);
    border-bottom: 0.1vw solid rgb(226, 155, 0);
  }
}
