.saber-display-body {
  background: radial-gradient(transparent 60%, hsla(0, 35%, 34%, 0.521));
  /* border: 1px solid hsla(36, 100%, 51%, 1); */
  border-bottom: 1px solid hsla(36, 100%, 51%, 1);
  border-top: 1px solid hsla(36, 100%, 51%, 1);

  border-radius: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 70em;
  height: 38vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  transition: all 4s ease-in-out;
}
.saber-display-body::-webkit-scrollbar {
  width: 4vw;
}
.saber-display-body::-webkit-scrollbar-thumb {
  background-color: pink;
  width: 4vw;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}
/* .saber-display-body:hover {
  background-color: hsla(41, 100%, 50%, 0.014);
  border-radius: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 70em;
  height: 38vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  transition: all 4s ease-in-out;
} */

.saber-display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* opacity: 1; */
  height: 18em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 10vw;
  transition: all 4s ease-in-out;
}

.form-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: wrap;
  opacity: 1;

  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.form-segments {
  display: flex;
  padding: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  opacity: 1;

  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.form-saber-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 10em;
  position: relative; */
}
.form-submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
