.saber-display-body {
  background: radial-gradient(transparent 60%, hsla(0, 35%, 34%, 0.521));

  border-bottom: 1px solid hsla(36, 100%, 51%, 1);
  border-top: 1px solid hsla(36, 100%, 51%, 1);
  border-radius: 3vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  height: 38vw;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  position: relative;

  scroll-behavior: smooth;
  z-index: 2;
}

.saber-display-container {
  display: flex;
  flex-direction: row;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: wrap;
  opacity: 1;

  position: relative;
  margin: 0;
  height: 10vw;

  overflow: scroll;

  margin: 0 auto;
  padding: 1vw;
  overflow: hidden;
  margin-top: auto;

  min-height: 43vh;
  min-width: 37vh;

  padding-bottom: -3vh;
}
.saber .form-display {
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 1;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vw;
  z-index: 1;
}
.saber-grip,
.saber-switch {
  position: relative;
  width: 15vw;
  height: 15vw;
  z-index: 1;
}

.saber-segments {
  position: relative;
  z-index: 1;
}

.saber-emitter {
  position: relative;
  width: 17.29vw;
  height: 15vw;
  z-index: 1;
}
.new-saber-display {
  min-height: 50vh;
  min-width: 37vh;
  z-index: 1;
}
.form-segments {
  display: flex;
  padding: 1em;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  z-index: 1;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4vh;
}
.form-segments-selector {
  justify-content: center;
  align-items: space-evenly;

  text-align: center;
  font-family: starJedi;
  height: 4vh;
  border-radius: 0.5vw;
  background-color: rgb(117, 56, 56);
  color: rgb(228, 156, 0);
  margin-left: 5vw;
  margin-right: 5vw;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: black;
  transition: all 1s ease-in-out;
  letter-spacing: 0.12vw;
  position: relative;
  font-size: 0.85vw;
  /* margin-bottom: -50vh; */
}

.username-display {
  text-transform: lowercase;
}

.saber-name-link {
  cursor: pointer;
  text-decoration: underline;
}

.form-saber-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  z-index: 2;
}
.form-submit-button {
  height: 2vw;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  padding-bottom: 1vh;
  margin-bottom: 5vh;
}
.form-submit-button:disabled {
  height: 100vw;
  background-color: transparent;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

.delete-button {
  font-family: starJedi;
  font-size: 0.95vw;
  margin: auto;
  left: 43%;
  margin-top: -15%;
  height: 1.75vw;
  border-radius: 0.5vw;
  background-color: rgb(117, 56, 56);
  color: transparent;
  text-shadow: 1px 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.12vw;
  position: absolute;
  z-index: 1;
}

.delete-button:hover {
  font-family: starJedi;
  background-color: rgb(46, 23, 23);
  color: rgb(228, 156, 0);
  text-shadow: 1px 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
}
