.stars-1 {
  /* visibility: hidden; */
  transform: rotate(-45deg);
  margin-right: 375vw;
  margin-left: -40vw;
  width: 15vw;
  height: 20vh;
  z-index: -1;
}
.stars-2 {
  /* visibility: hidden; */
  transform: rotate(-45deg);
  margin-right: 350vw;
  margin-left: -40vw;
  width: 15vw;
  height: 20vh;
  z-index: -1;
}
.stars-3 {
  transform: rotate(-45deg);
  margin-right: 400vw;

  width: 15vw;
  height: 20vh;
  z-index: -1;
}
.stars-4 {
  transform: rotate(-45deg);
  margin-right: 355vw;
  width: 15vw;
  height: 20vh;
  z-index: -1;
}
